<div class="panel panel-default">
  <div class="panel-body">
    <%= image_tag("coffeethanks.jpg", class: "img-responsive my-image") %>
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
