// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heading {
  padding-top: 150px;
}

.products,
.show, {
  margin: 20px auto;
  padding: 25px;
}

.productname {
  color: #8F2E54;
  text-align: center;
}
.show {
  margin-top: 100px;
  padding-top: 50px;

}

.all-forms {
  width: 70%;
  margin: 10px auto;
  padding-top: 50px;
}


.product-show {
  max-width: 70%;
  margin: 0 auto;
}

.product-show img {
  padding: 20px 0;
  max-width: 100%;
}

.specs {
  padding: 0 40px;
}

.product-show hr {
  width: 100%;
}


.product-description,
.pages {
  padding-left: 0;
}
