// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heading {
  padding-top: 150px;
}

.products,
.show, {
  margin: 20px auto;
  padding: 25px;
}

.productname {
  color: #8F2E54;
}
.show {
  margin-top: 100px;
  padding-top: 50px;
  border:1px solid #8F2E54;
}

.show img {
  width: 70%;
  margin: 10px auto;
}

.all-forms {
  width: 70%;
  margin: 10px auto;
  padding-top: 50px;
}
