<div class="product-reviews">
    <% @comments.each do |comment| %>
        <div class="row">
           <%= render partial: "comments/comment", locals: {comment: comment} %>
         </div>
    <% end %><!--comeback and finish up-->
    <div class="pagination">
    </div>
</div>
