<div class="container-fluid">
 <h1 class="productname">Products</h1>
  <div class="row">
    <div>
      <%= link_to "Add New Product", new_product_path, class: "btn btn-default" %>
    </div>
  </div>
  <div class="row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div> <!--end row-->
  <div class="pages col-sm-12">
    <%= will_paginate @products %>
  </div>
</div> <!-- end container-->
